body {
    font-family: "Times New Roman", Times, serif;
}

/* Hero Section */

.badge-coming-soon {
    font-size: 0.75em;
    margin-left: 5px;
}

.hero-section {
    background-color: #000; /* Background color for contrast */
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    color: white;
}

.hero-section .container {
    position: relative;
    z-index: 2;
}

.hero-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Adds rounded corners to the image */
}

.hero-section .neon-text {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 0, 0, 0.2), 0 0 40px rgba(255, 0, 0, 0.3);
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-section p.lead {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.hero-section .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.hero-section .neon-btn {
    background-color: #ff004c;
    border: none;
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 0, 0, 0.5), 0 0 15px rgba(255, 0, 0, 0.2);
}

.hero-section .neon-btn:hover {
    background-color: #ff3377;
}

footer a {
    text-decoration: none;
  }
